<ion-header>
  <ion-toolbar>
    <ion-title>
      Todo List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let todo of todos">
      <ion-label>
        <ion-text color="medium" *ngIf="todo.completed; else notCompleted">
          {{ todo.task }}
        </ion-text>
        <ng-template #notCompleted>
          {{ todo.task }}
        </ng-template>
      </ion-label>
      <ion-button fill="clear" slot="end" (click)="removeTask(todo.id)">
        Done
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="full" (click)="showAddTaskAlert()">
    Add Task
  </ion-button>
</ion-content>
